:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica Now Display Medium";
  src: url("/public/fonts/HelveticaNowDisplay-Regular.ttf") format("ttf");
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display Regular";
  src: url("/public/fonts/HelveticaNowDisplay-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Freight Neo Pro";
  src: url("/public/fonts/Freight\ Neo\ Pro\ Book.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
