.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #111111;
  padding: 2vw;
}

.stuurmenLink {
  position: fixed;
  top: 3vw;
  right: 7vw;
  font-family: "Freight Neo Pro", sans-serif;
  font-size: 1.04vw;
  font-weight: normal;
  color: #969696;
  transition: 0.3s;
}

.stuurmenLink:hover {
  color: #f0f0f0;
}

.mainHeader {
  font-family: "Helvetica Now Display Regular", sans-serif;
  font-size: 4.16vw;
  font-weight: normal;
  color: #f0f0f0;
  width: 50vw;
}
.subText {
  font-family: "Helvetica Now Display Regular", sans-serif;
  font-size: 1.46vw;
  font-weight: normal;
  color: #f0f0f0;
  width: 50vw;
  padding-top: 6.25vw;
}
.comment {
  font-family: "Helvetica Now Display Regular", sans-serif;
  font-size: 0.94vw;
  font-weight: normal;
  color: #404040;
  padding-top: 6.25vw;
  padding-bottom: 1.56;
}
.typeField {
  font-family: "Freight Neo Pro", sans-serif;
  font-size: 2.08vw;
  font-weight: normal;
  color: #969696;
  padding: 1.56vw 0vw;
  background-color: #111111;
  border: none;
  border-bottom: 0.052vw solid #404040;
  width: 50vw;
  outline: none;
}
.bgImg {
  position: absolute;
  right: 6.25vw;
  top: 15vw;
  width: 30vw;
  height: 28vw;
}
